<!--begin header-->
<header>
  <nav class="navbar navbar-default linear">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <ng-container *ngIf="route == 'Home'">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </ng-container>
        <a class="navbar-brand" [routerLink]="[ '/' ]"><strong>H</strong>enki <strong>WS</strong></a>
      </div>

      <!-- Collect the nav 
s, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <ng-container *ngIf="route == 'Home'">
              <li><a href="javascript:void(0)" [ngx-scroll-to]="'#homes'">Home</a></li>
              <li><a href="javascript:void(0)" [ngx-scroll-to]="'#service'">Knowledge</a></li>
              <li><a href="javascript:void(0)" [ngx-scroll-to]="'#education'">Education</a></li>
              <li><a href="javascript:void(0)" [ngx-scroll-to]="'#skill'">Skill</a></li>
              <li><a href="javascript:void(0)" [ngx-scroll-to]="'#portofolio'">Portofolio</a></li>
              <!-- <li><a href="javascript:void(0)" [ngx-scroll-to]="'#experience'">Experience</a></li> -->
              <li><a [routerLink]="[ 'news' ]">News</a></li>
              <li><a href="javascript:void(0)" [ngx-scroll-to]="'#contact'">Contact</a></li>
          </ng-container>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<!--end header-->