<div class='container'>
    <div class='info'>
      <h1>Article News</h1>
    </div>
    <ng-container *ngIf="!data">
      <div class="loading">Please wait ...</div>
    </ng-container>
    <ng-container *ngIf="data">
      <ng-container *ngFor="let item of data">
        <div class='column'>
          <div class='post-module'>
            <div class='thumbnail'>
              <div class='date'>
                <div class='day'>{{ item.publishedAt | date:'dd' }}</div>
                <div class='month'>{{ item.publishedAt | date:'MMM' }}</div>
              </div>
              <img src='{{ item.urlToImage }}'>
            </div>
            <div class='post-content'>
              <div class='category'>{{ item['source'].name }}</div>
              <h4 class='title'><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h4>
              <h6 class='sub_title'>{{ item.author == null ? item['source'].name : item.author }}</h6>
              <p class='description'>{{ item.content }}</p>
            </div>
          </div>
        </div>
        <!-- <div class="clearfix"> </div> -->
      </ng-container>
    </ng-container>
    
    </div>
  